<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<mat-card *ngIf="dish" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{dish.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="(dataURL+dish.image).replace('assets', '')" alt={{dish.name}}>
  <mat-card-content>
    <p>{{dish.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="dish || errDishMess">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div fxFlex *ngIf="errDishMess">
  <h2>Error</h2>
  <h4>{{errDishMess}}</h4>
</div>

<mat-card *ngIf="promotion" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{promotion.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="(dataURL+promotion.image).replace('assets', '')" alt={{promotion.name}}>
  <mat-card-content>
    <p>{{promotion.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="promotion || errPromotionMess">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div fxFlex *ngIf="errPromotionMess">
  <h2>Error</h2>
  <h4>{{errPromotionMess}}</h4>
</div>


<mat-card *ngIf="leader" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{leader.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="(dataURL+leader.image).replace('assets', '')" alt={{leader.name}}>
  <mat-card-content>
    <p>{{leader.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="leader || errLeaderMess">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div fxFlex *ngIf="errLeaderMess">
  <h2>Error</h2>
  <h4>{{errLeaderMess}}</h4>
</div>
</div>
